@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  }

  .text-outline{
    --text-border-width: 2px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: var(--text-border-width);
    -webkit-text-stroke-color: #000;
  }
  .mask-this{
    background-image: radial-gradient(circle at center center, var(rgb(71, 30, 30)) 50%, rgb(255, 255, 255, 0) 50%);
  }